body {
    background: #EBEBEB;
}

header {
    text-align: center;
    width: 100%;
    background: #58A69E;
    padding-bottom: 1px;
}

#main-display{
    margin-top: 15px;
}


#today-div {
    border: black;
    border-style: solid;
    border-width: 1px;
}

.heading-div h2 {
    float: left;
  
}

.heading-div img{
    float: left;
}

.heading-div {
    width: 100%;
    padding-left: 40px;
}

li {
    list-style-type: none;
    line-height: 2;
}

.no-padding {
    padding-left: 0;
}

.blue-div{
    background-color: cornflowerblue;
    padding-left: 8px;
    padding-right: 8px;
}

#forcast-heading{
    width: 100%;
    margin-top: 10px;
    padding-left: 15px;
}

#search-history-div {
    margin-top: 15px;
}

.city-history-input-button, 
.clear
{
    width: 100%;   
    text-align: left;
    padding-left: 15px;
}


